<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512300451926-ui5chqsno773csn663dvptov3d36cui1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512300451926-ui5chqsno773csn663dvptov3d36cui1</string>
	<key>API_KEY</key>
	<string>AIzaSyAWEdU36jYnDXV1vS_p39lMdQ1IUbcoXAg</string>
	<key>GCM_SENDER_ID</key>
	<string>512300451926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robotdreams.WWDC</string>
	<key>PROJECT_ID</key>
	<string>wwdc-516fc</string>
	<key>STORAGE_BUCKET</key>
	<string>wwdc-516fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512300451926:ios:37359eed85a0396d9dd3f7</string>
</dict>
</plist>